<ion-slides pager>

<ion-slide style="background-color: #fff" class="slide">
  <div class="icons">
  <img src="https://media-public.canva.com/ASccw/MAEjf-ASccw/1/s.svg" alt="">
</div>
  <h3>Profissionais Qualificados </h3>
  <h1>O Lugar para encontrar profissionais para genstão de dinástica laboral</h1>
</ion-slide>

<ion-slide style="background-color: #fff" class="slide">
<div class="icons">
<img src="https://media-public.canva.com/AS2ZQ/MAEjf-AS2ZQ/1/s.svg" alt="">
</div>
<h3>Profissionais Qualificados </h3>
<h1>O Lugar para encontrar profissionais para genstão de dinástica laboral</h1>
</ion-slide>

<ion-slide style="background-color: #fff" class="slide">
<div class="icons">
<img src="https://media-public.canva.com/3MFUs/MAEjf93MFUs/1/s.svg" alt="">
</div>
<h3>Profissionais Qualificados </h3>
<h1>O Lugar para encontrar profissionais para genstão de dinástica laboral</h1>
</ion-slide>

<ion-slide style="background-color: #fff" class="slide">
<div class="icons">
<img src="https://media-public.canva.com/Gonl0/MAEjf8Gonl0/1/s.svg" alt="">
</div>
<h3>Profissionais Qualificados </h3>
<h1>O Lugar para encontrar profissionais para genstão de dinástica laboral</h1>
</ion-slide>
</ion-slides>

